# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/
env/
.env
.conda/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data (không commit data thô lên git)
data/raw/*.csv
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model checkpoints
*.pt
*.pth
*.ckpt
predictions.csv

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log
